.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
    border-radius: 20px;
}
/* split the login page box into two parts ordered horizontally, the image panel and login form */
.imagePanelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 3; /* 3/5, 60% */
    align-items: center;
    background-color: gold;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    flex: 2; /* 2/5, 40% */
    background-color: red;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}