.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filterSideBar {
    background-color: brown;
    width: 15vw;
    height: 100%;
}

.resultsArea {
    background-color: burlywood;
    flex: 1 0 auto;
    height: 100%;
}